/* Thêm media queries để responsive */
@media screen and (max-width: 1200px) {
    .product-gallrery-one-content-product {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .product-gallrery-one-content-product {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .product-gallrery-one-content-product {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .product-gallrery-one-content-product {
        grid-template-columns: 1fr;
    }
}